# ===============================
# Java / Spring Boot
# ===============================
target/
*.class
*.jar
*.war
*.ear

# ===============================
# Maven / Gradle
# ===============================
.mvn/
.gradle/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Arquivos de ambiente
# ===============================
.env
.env.*
application-local.yml
application-local.properties

# ===============================
# IDEs
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# SO
# ===============================
.DS_Store
Thumbs.db
